################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Services/Mono.BusinessService/obj
/Services/Mono.CoreService/obj
/Services/Mono.BusinessService/bin/
/Services/Mono.CoreService/bin/
*.log
/Shared/Mono.MessageQueue/obj
/Shared/Mono.MessageQueue/bin
/Shared/Mono.SharedLibrary/bin
/Shared/Mono.SharedLibrary/obj
/Mono.API/Properties/PublishProfiles
/Mono.API/Upload
/Mono.Consumer/obj
/Mono.Consumer/bin
/Apps/Client/Mono.BlazorServer/bin
/Apps/Client/Mono.BlazorServer/obj
/Apps/Client/Mono.BlazorWasm/bin
/Apps/Client/Mono.BlazorWasm/obj
/Apps/Server/Mono.API/bin
/Apps/Server/Mono.API/obj
/Apps/Server/Mono.API/Properties/PublishProfiles
/Apps/Server/Mono.API/Upload
/Infrastruture/Mono.Repository/bin
/Infrastruture/Mono.Repository/obj